.rectangle{
    font-size: 24px;
    width: 420px;
    height: 140px;
    background-color: bisque;
    border-width: 10px 20px 10px 20px;
    border-style: solid solid dashed dashed;
    border-color: firebrick chartreuse burlywood aqua ;
    margin: 50px 100px 50px 100px;
    padding: 20px 20px 20px 20px;

}