#full{
    font-size: 16px;
}

#three-quarters{
    font-size: 32px;
}

#half{
    font-size: 64px;
}

#quarter{
    font-size: 128px;
}

#empty{
    font-size: 256px;
}

div{
    display: flex;
    justify-content: space-around;
}
