section[class="already-learned"]>ol {
    background-color: green;
    color: white;
}

section[class="to-be-learned"]>ol {
    background-color: orange;
    color: green;
}

section[class="already-learned"] code {
    background-color: orange;

}

section[class="to-be-learned"] code {
    background-color: green;

}

li[id="special1"]+li h4>code {
    border: 2px solid blue;
}

li[id="special2"]~li {
    font-size: 24px;
}