body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.firstH {
    font-size: 74px;
    text-align: center;
    margin: auto;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.div {
    height: 200px;
    background-color: coral;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 200px;
}