.navigation {
  display: flex;
  background-color: #ff7f50;
  min-height: 200px;
  flex: 1;
}

.products_list {
  display: flex;
  background-color: #006400;
  min-height: 200px;
  flex: 1;
}

.news {
  display: flex;
  background-color: #0ff;
  min-height: 200px;
  flex: 1;
}

span {
  background-color: #faebd7;
  padding: 8px;
  border-radius: 4px;
  text-transform: lowercase;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .product {
    display: flex;
    flex: 2;
  }
}

@media screen and (min-width: 900px) {
  .content {
    display: flex;
  }
}
