.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
}

.small-bird {
    height: 64px;
    width: 64px;
}

.large-bird {
    height: 320px;
    width: 320px;
}